.login {
    border: 1px solid black;
    width: 600px;
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    background: grey;
}

form {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid red;
    margin: 5px;
    padding: 2px;
}

span {
    color: red;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
    margin: 5px;
    font-weight: 700;
}